<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <title>Mairie Les Gets: {{ ez_content_name(content) }}</title>
    <!-- Description -->
    <meta name="description" content="Toutes les informations de votre commune sont disponibles sur le site internet, n&#039;hésitez pas à le consulter."/>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS (CDN)-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
    <!-- Bootstrap CSS (Local)-->
    {% block stylesheets %}
        {#% stylesheets '@AzimutecKikundiBundle/Resources/public/css/bootstrap-4.0.0-beta2.css' filter='cssrewrite' %#}
            {#<link rel="stylesheet" type='text/css' href="{{ asset_url }}" />#}
        {#% endstylesheets %#}
        {% stylesheets '@AzimutecKikundiBundle/Resources/public/css/screen.css' %}
            <link rel="stylesheet" type='text/css' href="{{ asset_url }}" media="screen"/>
        {% endstylesheets %}
        {% stylesheets '@AzimutecKikundiBundle/Resources/public/css/responsive.css' filter='cssrewrite' %}
            <link rel="stylesheet" type='text/css' href="{{ asset_url }}" media="screen and (max-width: 1200px)"/>
        {% endstylesheets %}
        {% stylesheets '@AzimutecKikundiBundle/Resources/public/css/font-awesome.min.css' %}
            <link rel="stylesheet" type='text/css' href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets '@AzimutecKikundiBundle/Resources/public/css/camera.css' filter='cssrewrite' %}
            <link rel="stylesheet" type='text/css' href="{{ asset_url }}" media="all"/>
        {% endstylesheets %}
        {% stylesheets '@AzimutecKikundiBundle/Resources/public/css/responsive-tabs.css' filter='cssrewrite' %}
            <link rel="stylesheet" type='text/css' href="{{ asset_url }}" media="all"/>
        {% endstylesheets %}
        {% stylesheets '@AzimutecKikundiBundle/Resources/public/css/jquery.fancybox.css' filter='cssrewrite' %}
            <link rel="stylesheet" type='text/css' href="{{ asset_url }}" media="screen"/>
        {% endstylesheets %}
        {% stylesheets '@AzimutecKikundiBundle/Resources/public/css/dashicons.min.css' filter='cssrewrite' %}
            <link rel="stylesheet" type='text/css' href="{{ asset_url }}?ver=4.9" media="all" id="dashicons-css"/>
        {% endstylesheets %}
        {% stylesheets '@AzimutecKikundiBundle/Resources/public/css/wunderground.css' filter='cssrewrite' %}
            <link rel="stylesheet" type='text/css' href="{{ asset_url }}?ver=2.1.3" media="all" id="wunderground-css"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="stylesheet" type='text/css' href="https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900"/>
</head>
<body class="home page-template page-template-page-templates page-template-front-page page-template-page-templatesfront-page-php page page-id-6" id="accueil">
    <div id="page">
        <div id="main">
            <div id="changeFont">
                <a href="#" class="increaseFont">A+</a>
                <a href="#" class="decreaseFont">A-</a>
                <a href="#" class="resetFont">A</a>
            </div>
        </div>
        <div id="wrapper">
            <div id="navbar">
                <div id="content_navbar">
                    <div id="open" class="transitions">
                        <a href="#menu_smartphone" class="open"><i class="fa fa-bars"></i></a>
                    </div>
                    <div id="text-4" class="widget widget_text">
                        <div class="textwidget"><a href="./"><i class="fa fa-home"></i></a><a href="#"><i class="fa fa-envelope"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <div id="wunderground_forecast_widget-2" class="widget wunderground">
                        <div class="widgettitle">Weather Forecast</div>
                        <div class="wu-wrapper wu-current-conditions wp_wunderground">
                            <div class="wu-forecast-wrapper"><div class="wu-forecast-body"><div class="wu-day-title"><span class="wu-day-current-temp">-1<sup>&deg;</sup></span><small>C</small></div><div class="wu-icon">{% image '@AzimutecKikundiBundle/Resources/public/icones/clear.gif' %}<img src="{{ asset_url }}" alt="Ciel dégagé" title="Ciel dégagé" width="100" height="100" />{% endimage %}</div></div></div>
                            <div class="wu-copyright"><a href="http://french.wunderground.com/q/zmw:00000.264.07482" rel="external" title="View the Bettant forecast on Wunderground.com">{% image '@AzimutecKikundiBundle/Resources/public/icones/wundergroundLogo_4c_horz.png' %}<img src="{{ asset_url }}" alt="Wunderground.com" title="Wunderground.com" width="49" height="22" />{% endimage %}</a></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div id="search-2" class="widget widget_search">
                        <form role="search" method="get" id="searchform" class="searchform" action="#">
                            <input type="text" value="" name="s" id="s" placeholder="Rechercher"/>
                            <input type="submit" id="searchsubmit" value="Rechercher" />
                        </form>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div id="header">
                <div id="header_content">
                    <div id="logo"> <a href="./">{% image '@AzimutecKikundiBundle/Resources/public/images/logo_lesgets_mairie.png' %}<img src="{{ asset_url }}" alt="Mairie des Gets" title="Mairie des Gets" />{% endimage %}</a></div>
                    <div id="menu" class="transitions">
                        <div class="menu_principal transitions">
                            <ul id="main-menu-nav" class="scroll">
                                <li id="menu-item-50" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-50"><span>Présentation</span>
                                    <ul class="sub-menu">
                                        <li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51"><a href="#">La station des Gets</a></li>
                                        <li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52"><a href="#">La commune</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-98" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-98"><span>Conseil municipal</span>
                                    <ul class="sub-menu">
                                        <li id="menu-item-70" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70"><a href="#">Les élus</a></li>
                                        <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a href="#">Les commissions</a></li>
                                        <li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><a href="#">Les séances du conseil</a></li>
                                        <li id="menu-item-783" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-783"><a href="#">Intercommunalité</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-99" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-99"><span>Services Municipaux</span>
                                    <ul class="sub-menu">
                                        <li id="menu-item-540" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-540"><a href="./accueil-mairie.html">Administration générale</a></li>
                                        <li id="menu-item-420" class="menu-item menu-item-type-taxonomy menu-item-object-categories menu-item-420"><a href="#">Services techniques</a></li>
                                        <li id="menu-item-419" class="menu-item menu-item-type-taxonomy menu-item-object-categories menu-item-419"><a href="#">Urbanisme - Foncier</a></li>
                                        <li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="#">Comptabilité - Finances</a></li>
                                        <li id="menu-item-536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-536"><a href="#">Police municipale</a></li>
                                        <li id="menu-item-539" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-539"><a href="#">Eaux - Assainissement</a></li>
                                        <li id="menu-item-188" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-188"><a href="#">Centre Communal d'Action Sociale</a></li>
                                        <li id="menu-item-189" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-189"><a href="#">Affaires scolaires</a></li>
                                        <li id="menu-item-190" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-190"><a href="#">Crèche</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-100" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-100"><span>Vie locale</span>
                                    <ul class="sub-menu">
                                        <li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a href="#">Offres d'emploi</a></li>
                                        <li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a href="#">Salles municipales</a></li>
                                        <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84"><a href="#">Infos locales</a></li>
                                        <li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a href="#">Emploi</a></li>
                                        <li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85"><a href="#">Associations</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-101" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-101"><span>Entre nous</span>
                                    <ul class="sub-menu">
                                        <li id="menu-item-89" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89"><a href="#">Petites annonces</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <h1>Page Layout du bundle AzimutecKikundiBundle</h1>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Optional JavaScript (CDN) -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>-->
    <!-- Optional JavaScript (Local) -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% block javascripts %}
        {% javascripts
            '@AzimutecKikundiBundle/Resources/public/js/jquery-3.2.1.min.js'
            '@AzimutecKikundiBundle/Resources/public/js/bootstrap-4.0.0-beta2.js' %}
                <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>
</html>
